.container{
    padding: 0px 11% 0px 11%;
    color: #2277AA;
}

.container>.suggested_menu{
    margin-top: 36px;
    float:right;
    width: 25%;
}
.container>.suggested_menu>.eight_qs{
    background: #f2f7f6;
    height: 43px;
    border-radius: 5px;
    padding-left: 18px;
    line-height: 43px;
    font-size: 13px;
    cursor: pointer;
}
.container>.suggested_menu>.week_flavor{
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    cursor: pointer;
}
.container>.suggested_menu>#head3>li{
    display: block;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding-left: 5px;
    font-size: 13px;
}